{% extends 'index.html' %}
{% block 'b1' %}
<h2 align="center"><font color="red">Change password</font></h2>
<form method="post" action="{% url 'changepassword' %}">
    {% csrf_token %}
    <table align="center" border="1">
        <tr>
            <td>Enter userName</td>
            <td><input type="text" name="uname" required></td>
        </tr>

        <tr>
            <td>Enter oldPassword</td>
            <td><input type="password" name="opwd" required></td>
         </tr>
        <tr>
            <td>Enter Newpassord</td>
            <td><input type="text" name="npwd" required></td>
        </tr>
         <tr>
               <td align="center"><input type="submit" value="Insert"></td>
               <td align="center"><input type="reset" value="Clear"></td>
            </tr>

    </table>

</form>
{% endblock %}